

body {
    background-image: url("../images/maxresdefault.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  h1{
    font-family: 'Pacifico', cursive;
  }
  #wrapper{
    background-color: rgba(135, 204, 236, 0.979);
   
    width: 500px;
    height: auto;
    float: left;
    font-family: 'Courgette', cursive;
    margin:auto;
    margin-top: 100px;
    border:  5px solid rgb(39, 7, 7);
    text-align: center;
  
  }
