

body {
    background-image: url("../images/bg.jpg");
  }

  h1{
    font-family: 'Pacifico', cursive;
  }
  #wrapper{
    background-color: rgba(252, 253, 253, 0.979);
    width: 600px;
    font-family: 'Courgette', cursive;
    margin:auto;
    margin-top: 100px;
    border:  5px solid rgb(39, 7, 7);
  
  }
